body{
    background: url("./img/bg.jpg") no-repeat top center/cover;
}

#page{
    padding: 24px;
    border-radius: 24px;
    width: 800px;
    background-color: #F0E8C2;
    margin: 48px auto;
    
}

img{
    border-radius: 16px;
    width: 800px;
}