* {
    margin: 0px;
}

:root{
    font-family: 'Alice', serif;
    line-height: 150%;
    color: #573A37;
}

body{
    background: url("./img/bg.jpg") no-repeat top center/cover;
}

#page{
    padding: 24px;
    border-radius: 24px;
    width: 800px;
    background-color: #F0E8C2;
    margin: 48px auto 0px auto;
    
}

img{
    border-radius: 16px;
    width: 800px;
}

main{
    padding: 0px 24px;
}

h1{
    font-size: 40px;
    margin-top: 24px;
    margin-bottom: 8px;
    line-height: 140%;
}

h2{
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 4px;
}

h1, h2{
    color: #291B1A;
}

p{
    margin-bottom: 12px;
    font-size: 16px;
    
    
}


.No-circle {
    list-style-type: none;
    padding: 0px;
    
}

footer{
    text-align: center;
    margin-top: 28px;
    margin-bottom: 28px;
}